
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>
<h3>Test alanıdır.</h3>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Departmant</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Murat</td>
        <td>Yazılım</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Doğukan</td>
        <td>Satış</td>
    </tr>
</table>

